body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Hero Section Start */
.container{
    display: flex;
    height: 500px;
}
.half{
    width: 50%;
    margin-top: 50px;
    margin-left: 150px;
}
.image{
    padding-top: 20px;
    padding-left: 20px;
    width: 70%;
}
.title{
    color: rgb(36, 36, 36);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    letter-spacing: 8px; 
    padding-left: 8px;
    border-left: 3px solid #F53356;
    
}
.color-title{
    font-family: 'Lobster', cursive;
    color: #f17f3c;
}
p{
    line-height: 29px;
    color: rgb(43, 43, 43);
}
.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(-100deg,#F53356,#CF1A1B);
    padding: 9px 27px;
    margin: 10px 0px;
    border-radius: 5px;
}
.btn:hover{
    background: #000;
    color: white;
}
/* Hero Section End */


/* Mission Section Start */
.mission-area{
    height: 550px;
    padding-bottom: 60px;
}
.m-title{
    text-align: center;
    font-size: 40px;
    padding: 15px 0px;
    margin: 15px 0px 30px 0px;
}
.color-year{
    color: #f17f3c;
}
.main{
    display: flex;
    justify-content: space-evenly;

}
.m-card{
    width: 22%;
    border-radius: 20px;
    padding: 0px 30px;
}
.m-icon{
    padding-top: 20px;
    height: 120px;
}
.mission{
    background-color: rgba(255, 83, 111, 0.2);
}
.vission{
    background-color: rgba(255, 145, 0, 0.2);
}
.goals{
    background-color: rgba(35, 216, 216, 0.2);
}
/* Mission Section End */


/* About Me Section Start */
.about-me{
    display: flex;
    height: 500px;
}
.about-1{
    background-image: url(./images/shapes/shape-1.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 200px;
}
.about-2{
    background-image: url(./images/shapes/shape-2.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 200px;

}
.image-body1{
    margin: 20px 10px 20px 130px;
}
.image-body2{
    margin: 20px 130px 20px 10px;
}
.s-image{
    height: 350px;
}
.ab-main{
    padding: 50px 50px;
}
.ab-title{
    font-size: 32px;
}
.global-c{
    padding-left: 130px;
    padding-right: 100px;   
}

/* About Me Section End */


/* Contact Section Start */
.contact-area{
    height: 700px;
}
.address-bar{
    border-radius: 10px 0px 0px 10px;
    background-image: linear-gradient(#f53357ea,#cf1a1ae7);
    padding-top: 50px;
    width: 40%;
    height: 80%;
    padding-left: 50px;

}
.info{
    color: white;
}
.address-bar a{
    display: inline-block;
    padding-right: 15px;
    text-decoration: wavy;
    color: white;
}
.address-bar a:hover{
    text-decoration: underline;
}
.contact-body{
    width: 60%;
}
.contact-form{
    padding-left: 150px;
}
.form-group{
    padding: 10px 0px;
}
.input-field{
    padding-left: 10px;
    font-size: 19px;
    height: 35px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px gray, inset -2px -2px 15px white;
}
.text-area{
    padding-left: 10px;
    font-size: 20px;
    height: 130px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px gray, inset -2px -2px 15px white;
}
.input-field::placeholder{
    font-size: 19px;
}
.text-area::placeholder{
    font-size: 20px;
}
.s-btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(-100deg,#F53356,#CF1A1B);
    padding: 10px 30px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}
form h1{
    margin: 0px 0px 20px 0px;
}
/* Contact Section End */


/* Footer Section Start */
footer{
    padding: 5px;
    text-align: center;
    background: #0B0D17;
    height: 150px;
}
.f-title{
    font-family: 'Lobster', cursive;
    color: white;
    letter-spacing: 4px;
    font-size: 35px;
}
footer p{
   color:rgb(203 203 203);
}

/* Footer Section End */