body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Hero Section Start */
.container{
    display: flex;
    height: 500px;
}
.half{
    width: 50%;
    margin-top: 50px;
    margin-left: 150px;
}
.image{
    padding-top: 20px;
    padding-left: 20px;
    width: 70%;
}
.title{
    color: rgb(36, 36, 36);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    letter-spacing: 8px; 
    padding-left: 8px;
    border-left: 3px solid #F53356;
    border-image-slice: 1.5;
    
}
.color-title{
    font-family: 'Lobster', cursive;
    color: #F4955F;
}
p{
    line-height: 29px;
    color: rgb(43, 43, 43);
}
.btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg,#F53356,#CF1A1B);
    padding: 9px 27px;
    margin: 10px 0px;
    border-radius: 5px;
}
/* Hero Section End */

/* Mission Section Start */
.mission-area{
    height: 550px;
    padding-bottom: 60px;
}
.m-title{
    text-align: center;
    font-size: 40px;
    padding: 15px 0px;
}
.color-year{
    color: #F4955F;
}
.main{
    display: flex;
    justify-content: space-evenly;

}
.m-card{
    width: 22%;
    border-radius: 20px;
    padding: 0px 30px;
}
.m-icon{
    padding-top: 20px;
    height: 120px;
}
.mission{
    background-color: rgba(255, 83, 111, 0.2);
}
.vission{
    background-color: rgba(255, 145, 0, 0.2);
}
.goals{
    background-color: rgba(35, 216, 216, 0.2);
}
/* Mission Section End */

/* About Me Section Start */
.about-me{
    display: flex;
    height: 500px;
}
.about-1{
    background-image: url(./images/shapes/shape-8.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 200px;
}
.about-2{
    background-image: url(./images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 200px;

}
.image-body1{
    margin: 20px 10px 20px 130px;
}
.image-body2{
    margin: 20px 130px 20px 10px;
}
.s-image{
    height: 350px;
}
.ab-main{
    padding: 50px 50px;
}
.ab-title{
    font-size: 32px;
}
.global-c{
    padding-left: 130px;
    padding-right: 100px;   
}




/* About Me Section End */